@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nabla&display=swap');


*{
    box-sizing: border-box;
}
body{
    font-family:'Courier New', Courier, monospace;
    /* font-family: 'Nabla', cursive; */
    margin: 0;
    height: 100vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
}
#password-generator{
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 1rem;
    width: 350px;
}
.form-control{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0rem;
}
#password-length input{
    padding: 0.3rem;
    background-color: #aaa;
    border-style:dashed;
    border-radius: 15px;
    border-color:aliceblue;
    width: 3rem;
    text-align: center;
}
#password-length{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem;
}
#pw-out{
    width: 100%;
    background-color: #333;
    padding: 0.5rem 0.8rem;
    margin: 0.5rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#output{
    overflow: auto;
}
#output::-webkit-scrollbar{
    display: none;

}
#generate{
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    background-color: rgb(71, 255, 163);
    border: none;
    cursor: pointer;
}
#generate:hover{
    background-color: hsla(150, 100%, 64%, 0.707);
}
input, button{
    cursor: pointer;
}
#copy{
    background: none;
    border:none;
    padding: 0;
    margin: 0rem 1rem;
    position:sticky;
}
#copy img{
    width: 1.5rem;
    padding: 0;
    margin: 0;
}