@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nabla&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Libre Baskerville', serif;
    /* font-family: 'Nabla', cursive; */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Created with https://www.css-gradient.com */
    background: #27629A;
    background: -webkit-linear-gradient(bottom right, #27629A, #93C7D7);
    background: -moz-linear-gradient(bottom right, #27629A, #93C7D7);
    background: linear-gradient(to top left, #27629A, #93C7D7);

}

#quiz-box{
    background-color: rgb(229, 234, 249);
    border-radius: 5px;
    overflow: hidden;
}
h3{
    padding: 10px;
    margin: 15px 15px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li{
    padding: 5px;
    margin: 5px 50px;
}
button{
    margin-top: 10px;
    padding: 10px;
    color: whitesmoke;
    background-color: crimson;
    border: none;
    width: 100%;
    cursor: pointer;
}
button:hover{
    background-color: rgb(165, 20, 49) ;
}
label{
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}