@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,600;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
    margin: 0;
}