@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nabla&display=swap');


*{
    box-sizing: border-box;
}
body{
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    background-color: #23243B;
}
#search{
    padding: 1.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15162a;
}
#search h3{
    margin: 0px;
    color: #fca105;
    padding-left: 0.5rem;
    font-size: x-large;
    font-family: 'Nabla', cursive;

}
#search input{
    padding: 0.5rem;
    background-color: transparent;
    border-color: #e8fc05;
    border-radius: 15px;
    color: rgb(204, 204, 204);
    font-family: inherit;
}

#search input:focus{
    outline: none;
}

#movies{
    display: flex;
    flex-wrap: wrap;
}

.main img{
    width: 100%
}

.main {
    background-color: #15162a;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 250px;

}

#movie-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
}

#movie-info h2{
    margin: 0;
    color: #ccc;
    font-size: medium;
}
#movie-info span{
    color: black;
    padding: 0.2rem;
    background-color: #e8fc05;
    border-radius: 4px;
    margin-left: 1rem;   
}
#overview{
    color: #232347;
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 100%;
    overflow: auto;
    background-color: #fcc605e9;
    padding: 0.8rem;
    transform: translateY(101%);
    transition: transform 0.3s ease-in-out;
}

.main:hover #overview{
    transform: translateY(0%);
}


